
<%- include('../includes/head.ejs') %>
<style>
  .pagination{
  text-align: center;
  margin-top: 2rem;
}
  .pagination a{
  text-decoration:none;
  color: #00695c;
  padding: 0 0.5rem;
  border: 1px solid #00695c;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active{
  background: #00695c;
  color: aliceblue;
}
</style>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
     
          <%  if(sessions.length>0) { %> 
            <div class="container">
                <h1 class="mt-2 d-flex justify-content-center text-uppercase">Quá trình làm việc</h1>
                <hr/>
                <div class="mt-2 pd-2 ">
                    <div style="font-size:25px">Tên nhân viên: <%= staff.name %></div>
                
                    <div style="font-size:25px">Bộ phận: <%= staff.department%></div>
                    <% if(adminName){%>
                      <div style="font-size:25px">Quản lý bộ phận: <%= adminName%></div>
                      <%}%>
                </div>
                <hr/>
                <h4 class="mt-2 d-flex justify-content-center text-uppercase" style="color:rgb(212, 83, 44) ;">Danh sách các lượt làm</h4>
                <div class="mt-4 d-flex justify-content-center">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                              <th scope="col">Ngày</th>
                              <th scope="col">Bắt đầu</th>
                              <th scope="col">Kết thúc</th>
                              <th scope="col">Nơi làm việc</th>
                              <th scope="col">Tổng giờ làm</th>
                              <!-- <th scope="col">Giờ làm thêm</th> -->
                            </tr>
                          </thead>
                       
                          <tbody>
                            <%
                            sessions.forEach(session=> { %>

                              <tr>
                                <td scope="row"><%= session.checkIn.getDate()
                                    .toString()
                                    .concat(" / " + (session.checkIn.getMonth()+1).toString()+"/"+session.checkIn.getFullYear()) %></td>
                                <td> <%= session.checkIn.getHours().toString().concat(":").concat(session.checkIn.getMinutes()>=10?session.checkIn.getMinutes().toString():"0"+session.checkIn.getMinutes() ) %></td>
                                <td> <% if(session.checkOut) {%> <%=session.checkOut.getHours().toString().concat(":").concat(session.checkOut.getMinutes()>=10?session.checkOut.getMinutes().toString():"0"+session.checkOut.getMinutes() )%><%} else{%>--<%}  %></td>
                                <td><%= session.workPlace %></td>
                                <td><%if(session.checkOut){%> <%=((session.checkOut-session.checkIn)/3600000).toFixed(1) %> <%} else{%><%}  %></td>
                                <!-- <td><% if(((session.checkOut-session.checkIn)/3600000)>8) {%><%= (((session.checkOut-session.checkIn)/3600000)-8).toFixed(2) %> <%} else{%> 0.00<%}  %></td> -->
                              </tr>
                              <%}
                              )
                           %>
                        
                         
                          </tbody>
                      </table>
                    </div>   
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage,previousPage:previousPage,nextPage:nextPage,lastPage:lastPage,hasNextPage:hasNextPage,hasPreviousPage:hasPreviousPage,staffInfoId:null}) %>
                    <hr/>
                <h4 class="mt-4 d-flex justify-content-center text-uppercase" style="color:rgb(212, 83, 44) ;">Danh sách đăng ký nghỉ phép</h4>
                <% if(dayOffs.length>0){%>
                  <div class="mt-4 d-flex justify-content-center">
                      <table class="table table-hover table-bordered">
                          <thead>
                              <tr>
                                <th scope="col">Ngày</th>
                                <th scope="col">Số giờ</th>
                                <th scope="col">Lý do</th>
                                <th scope="col">Còn lại</th>
                                
                              </tr>
                            </thead>
                         
                            <tbody>
                              <%
                              dayOffs.forEach(d=> { %>
  
                                <tr>
                                 <td><%= d.dateOff %></td>
                                  <td><%= d.quantityDays %></td>
                                  <td><%= d.reason %></td>
                                  <td> <%= Math.floor(staff.annualLeave.leffDayOff) %> ngày <%= (staff.annualLeave.leffDayOff*8) -Math.floor(staff.annualLeave.leffDayOff)*8 %> giờ</td>
                                </tr>
                                <%}
                                )
                             %>
                          
                           
                            </tbody>
                        </table>
                  </div>  
                  <%}else{%>
                    <h2>Bạn chưa đăng ký ngày nghỉ nào.</h2>
                    <%}
                %>
                
                <h4 class="mt-2 d-flex justify-content-center text-uppercase" style="color:rgb(212, 83, 44) ;">Chi tiết lương</h4>
                <div class="mt-4 d-flex justify-content-center">
                    <form class="row g-3" action="/staff/salaryMonth" method="POST">
                        <div class="col-auto">
                          <h4  >Nhập tháng năm</h4>
            
                        </div>
                        <div class="col-auto">
                          
                          <input type="text" class="form-control" name="month">
                        </div>
                        <div class="col-auto">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <button type="submit" class="btn btn-primary mb-3">Chọn</button>
                        </div>
                      </form>
                    
                </div>
                <%
                if(salaryProper){%>
                  <h5 class="mt-2 d-flex justify-content-center text-uppercase">Bảng lương tháng: <%= salaryProper.monthString%></h5>
                  <div class="mt-4 ">
                            <h6>Tổng giờ làm thêm trong tháng: <%= salaryProper.overtime %> (h)</h6>
                            <h6>Tổng giờ làm thiếu trong tháng: <%= salaryProper.subtraction %> (h)</h6>
                            <h6>Hệ số lương tháng của bạn: <%= salaryProper.salaryScale%></h6>
                            <h5 style="color: red ;">Lương tháng của bạn: <%= salaryProper.salary %> (đồng)</h5>
                            <p> Công thức tính lương: <%= salaryProper.formula %></p>
                    </div>
                  
                  <%}else{%>
                    <h2>Bạn khồng có phiên làm việc nào</h2>
                    <%}
                %>  
            </div>
            <%} else {
                %> <div class="container">

                  <h1 class="mt-4"> Không có phiên làm việc !!!</h1>
                </div>
                <%
            }
        %>
     
        
    </main>
    <%- include('../includes/end.ejs') %>