<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <%  if(staff) { %> 
                <div class="container">

                    <div class="mt-2 d-flex justify-content-center "  >
                        <img  style="width: 10rem;" src="<%= staff.imageUrl %>" class="card-img-top" alt="...">
                    </div>
                    <div class="mt-2 d-flex justify-content-center">
                        <div>
                            <h4>Tên nhân viên: <%= staff.name %></h4>
                            <h4>Phòng ban: <%= staff.department %></h4>
                        </div>
                        </div>
                        <div class=" mt-2 d-flex justify-content-center " >
                            <a href="/staff/start" class="btn btn-success mx-2  ">Bắt đầu</a>
                            <a href="/staff/startCheckIn" class="btn btn-danger mx-2">Kết thúc</a>
                            <a href="/staff/formDayoff" class="btn btn-warning mx-2">Nghỉ phép</a>
                        </div>
                </div>
                <%} else {
                    %> 
                    <h1> Không tồn tại nhân viên</h1>
                    <%
                }
            %>
        </main>
        <%- include('../includes/end.ejs') %>